.spinner {
    width: 200px;
    height: 200px;
    border-top: 50px solid rgb(227, 94, 51);
    border-bottom: 50px solid rgb(141, 187, 51);
    border-left: 50px solid rgb(246, 189, 58);
    border-right: 50px solid rgb(70, 164, 235);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20rem;
    animation: spin 1.5s;
    animation-iteration-count: infinite;
}

.spinner:hover {
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(18deg);
    }

    10% {
        transform: rotate(36deg);
    }

    15% {
        transform: rotate(54deg);
    }

    20% {
        transform: rotate(72deg);
    }

    25% {
        transform: rotate(90deg);
    }

    30% {
        transform: rotate(108deg);
    }

    35% {
        transform: rotate(126deg);
    }

    40% {
        transform: rotate(144deg);
    }

    45% {
        transform: rotate(162deg);
    }

    50% {
        transform: rotate(180deg);
    }

    55% {
        transform: rotate(198deg);
    }

    60% {
        transform: rotate(216deg);
    }

    65% {
        transform: rotate(234deg);
    }

    70% {
        transform: rotate(252deg);
    }

    75% {
        transform: rotate(270deg);
    }

    80% {
        transform: rotate(288deg);
    }

    85% {
        transform: rotate(306deg);
    }

    90% {
        transform: rotate(324deg);
    }

    95% {
        transform: rotate(342deg);
    }

    100% {
        transform: rotate(360deg);
    }
}